body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url('https://i.imgur.com/LYBpAMh.jpeg'); /* ใช้เส้นทางที่ถูกต้องของไฟล์ภาพ */
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calendar {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* เพิ่มความทึบที่พื้นหลังเพื่อให้ตัวหนังสืออ่านง่าย */
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

select {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.day:hover {
  background-color: #0288d1;
  color: white;
  transform: scale(1.1);
}

.selected {
  background-color: #0288d1;
  color: white;
}

.empty {
  background-color: transparent;
  cursor: default;
}
